.App {
  text-align: center;
}

.table-content {
  margin: 20px auto;
}

.title {
  height: 80px;
  transition: all 0.5s;
  font-size: 3rem;
  color: rgb(80, 80, 80);
}

.title:hover {
  font-size: 3.2rem;
  color: rgb(150, 150, 150);
}

.control-row {
  height: 60px;
}

.celebrity-row {
  height: 110px;
  transition: all 0.8s;
}

.celebrity-row:hover {
  background-color: rgb(200, 226, 255);
}

/* ---------------------------------------------------------------------------------------------- */
.celebrity-enter {
  opacity: 0.1;
}
.celebrity-enter-active {
  opacity: 1;
  transition: all 700ms;
}
.celebrity-exit {
  opacity: 1;
}
.celebrity-exit-active {
  opacity: 0;
  transition: all 500ms;
}
/* ---------------------------------------------------------------------------------------------- */

.celebrity-image {
  border-radius: 5px;
}

.celebrity-name {
  width: 200px;
}

.delete-button {
  width: 60px;
}